<% include ../partials/header %>

<h1><%= propItem.name %></h1>

<img src="<%= propItem.image %>">

<p><%= propItem.startingBid %> US Dollars</p>

<p><%= propItem.description %></p>

<p>
    <a class="btn btn-success" href="/props/<%= propItem._id %>/comments/new">Ask a question</a>
</p>

<% propItem.comments.forEach(function(comment) { %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>


<% include ../partials/footer %>
