<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="thumbnail">
          <div class="w3-content" style="max-width:1200px">
            <img class="mySlides img-responsive" src="<%= propItem.image[0] %>" style="width:100%">
            <img class="mySlides img-responsive" src="<%= propItem.image[1] %>" style="width:100%">
            <img class="mySlides img-responsive" src="<%= propItem.image[2] %>" style="width:100%">

            <div class="w3-row-padding w3-section">
              <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off img-responsive" src="<%= propItem.image[0] %>" style="width:100%" onclick="currentDiv(1)">
              </div>
              <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off img-responsive" src="<%= propItem.image[1] %>" style="width:100%" onclick="currentDiv(2)">
              </div>
              <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off img-responsive" src="<%= propItem.image[2] %>" style="width:100%" onclick="currentDiv(3)">
              </div>
            </div>
          </div>

          <div class="caption-full">
            <h4 style="width:100%;height:10%;text-align:center;position:relative;top:40%;" class="pull-right"><strong>Higest Bid: <%= propItem.currentBid %> US Dollars </strong> : <%= propItem.highestBidder %></h4>
            <div style="text-align:center">
              <% if (!propItem.expired) { %>
                <h5 style="color:red;">Expires on: <%= moment.unix(propItem.expiryDate).format('MM-DD-YYYY') %></h5>
                <a style="width:20%;height:10%;text-align:center;position:relative;top:40%;" class="btn btn-primary" href="/props/<%= propItem._id %>/bid">Bid</a>
              <% } else { %>
                <h5 style="color:red;">Auction Closed</h5>
              <% } %>
            </div>
            <h4 class="pull-right">Starting at: <%= propItem.startingBid %> US Dollars</h4>
            <h4><a href=""><u><%= propItem.name %></u></a></h4>
              <p><%= propItem.description %></p>
          </div>
          </div>
            <div class="well">
              <div class="text-right">
                  <a class="btn btn-info" href="/props/<%= propItem._id %>/comments/new">Ask A Question</a>
              </div>
              <hr>
              <% propItem.comments.forEach(function(comment) { %>
              <div class="row">
                <div class="col-md-12">
                    <strong><%= comment.author %></strong>
                    <span class="pull-right">10 days ago</span>
                    <p><%= comment.text %></p>
                </div>
            </div>
          <% }) %>
        </div>
    </div>
  </div>
</div>

<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-opacity-off";
  }
</script>

<% include ../partials/footer %>
